.project__task-count {
  font-size: 11px;
  text-align: right;
  margin-bottom: 4px;
}
.progress {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  overflow: hidden;
}
.progress__body {
  content: "";
  background-color: #e8eaf2;
  width: inherit;
  height: inherit;
}
.progress__track {
  content: "";
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.8s;
}
