.main {
  padding: 30px 48px;
}
.btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding: 0 15px;
  line-height: 35px;
  background-color: transparent;
  color: #808080;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: #f5f5f5;
  }
}
.projects__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__title {
  font-size: 15px;
  font-weight: 500;
  color: #2f4f4f;
  margin-bottom: 3px;
}
.projects__count {
  font-size: 13px;
}
.projects__list {
  padding-top: 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 765px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: brightness(0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 400px;
  background-color: #fff;
  z-index: 99;
  border-radius: 20px;
  padding: 30px;
}
.add-project__body {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.add-project__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 10px;
  color: #2f4f4f;
}
.add-project__name,
.add-project__description {
  box-sizing: border-box;
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px;
  background-color: #f5f5f5;
  font-size: 14px;
}
.add-projects__btns {
  display: flex;
  gap: 10px;
}
.btn__ok {
  color: #fff;
  background-color: rgb(46, 182, 125);

  &:hover {
    background-color: rgb(46, 182, 125, 0.8);
  }
}
// cssTransition
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
// 