.main {
  padding: 30px 48px;
}
.btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding: 0 15px;
  line-height: 35px;
  background-color: transparent;
  color: #808080;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: #f5f5f5;
  }
}
.projects__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__title {
  font-size: 15px;
  font-weight: 500;
  color: #2f4f4f;
  margin-bottom: 3px;
}
.projects__count {
  font-size: 13px;
}
.projects__list {
  padding-top: 30px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 765px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}
